<% [:notice, :success].each do |success_type| %>
  <% if flash[success_type].present? %>
    <div class="fixed top-4 right-4 z-50 w-full max-w-md px-4 sm:px-6 lg:px-8" data-controller="flash">
      <div class="alert alert-success shadow-lg flex items-center justify-between rounded-lg overflow-hidden">
        <div class="flex items-center">
          <i class="fa-solid fa-check-circle text-green-500 mr-2"></i>
          <p class="text-sm"><%= flash[success_type] %></p>
        </div>
        <button type="button"
                class="btn btn-sm btn-outline"
                data-action="click->flash#dismiss"
                data-flash-target="dismissButton">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
    </div>
  <% end %>
<% end %>
