<h1 class="text-2xl font-bold mb-2">
    <%= t("admin.roles.new.title") %>
</h1>

<p class="text-l mb-6 subtitle">
    <%= t("admin.roles.new.subtitle") %>
</p>
    
<div class="md:w-2/3 w-full">
  <%= render 'form', role: @role %>
</div>